.stats-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 86px 186px 86px;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .stats-section {
    padding: 30px 10px;
  }
}