/* partnersbackground.png */
.additional-partners-container {
     width: 100%;
     height: 80vh;
     background: 
       url(../../assets/images/partnersbackground.png) no-repeat center / cover;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-bottom-left-radius: 45px;
     border-bottom-right-radius: 45px;  
}