.custom-modal {
     width: 100%;
   }
   
   .ant-modal-body {
     padding: 44px 34px !important;
     gap: 8px;
   }
   
   .actions {
     display: flex;
     flex-direction: row; /* Ensure horizontal layout */
     gap: 8px;
     justify-content: flex-start;
   }
   
   .header-demo {
     font-family: Inter;
     font-size: 36px;
     font-weight: 500;
     line-height: 46px;
     letter-spacing: -0.01em;
     text-align: left;
     color: #2345C0;
   }
   
   .title span {
     font-family: Inter;
     font-size: 16px;
     font-weight: 400;
     line-height: 32px;
     text-align: left;
     color: #777B80;
   }
   
   .ant-form-item-control-input-content input {
     /* Removed opacity to ensure inputs are visible */
     gap: 10px;
     /* opacity: 0px; */ /* Remove this line */
     height: 56px;
   }
   
   @media (max-width: 576px) {
     .custom-modal {
       width: 100%;
     }
     .ant-modal-body {
       gap: 8px;
       padding: 10px !important;
     }
     .actions {
       display: flex;
       flex-direction: row; /* Ensure horizontal layout on small screens */
       gap: 8px;
           justify-content: flex-start;
     }
     .header-demo {
       font-size: 20px;
       line-height: 30px;
     }
     .title span {
       font-size: 14px;
       line-height: 20px;
     }
     .ant-form-item-control-input-content input {
       gap: 10px;
       /* opacity: 0px; */ /* Remove this line */
       height: 56px;
     }
   }
   