.tag-item {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #2047C0; /* Blue color */
  padding: 10px 20px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.tag-item:hover {
  transform: scale(1.02);
}

.tag-text {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 300;
}

/* Large devices (desktops) */
@media screen and (min-width: 1200px) {
  .tag-item {
    padding: 12px 24px;
    font-size: 18px;
  }
}

/* Medium devices (tablets) */
@media screen and (max-width: 1199px) {
  .tag-item {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Small devices (landscape phones) */
@media screen and (max-width: 767px) {
  .tag-item {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Extra small devices (portrait phones) */
@media screen and (max-width: 575px) {
  .tag-item {
    padding: 6px 12px;
    font-size: 12px;
    grid-column-start: auto !important;
    grid-column-end: auto !important;
    grid-row-start: auto !important;
    justify-self: center;
    transform: none !important;
  }

  .tag-text {
    font-size: 12px;
    font-weight: 400;
  }
}
