.about-page-text {
     font-size: 36px;
     color: #090F24;
     text-align: center;
     margin: 102px 153px;  
     font-weight: 300;
}

.about-page-text-highlighted {
     color: #2345C0;
     font-weight: bold;
     font-style: italic !important;
}

.about-page-text-2 {
     font-weight: 300;
     font-size: 26px;
     line-height: 42px;
     color: #090F24;
     text-align: center;
     margin: 10px 160px 50px 160px;
     font-family: 'Inter';
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.about-page-text-2-highlighted {
     font-size: 36px;
     font-weight: bold;
     margin-bottom: 24px;
}

.about-page-text-2-regular {   
     font-size: 26px;
     font-weight: 200;
     margin-bottom: 50px;     
     width: 75%;
     text-align: center;

}

@media screen and (max-width: 768px) {
     .about-page-text{
          font-size: 24px;
          line-height: 34px;
          text-align: start;
          margin: 10px 15px;
     }

     .about-page-text-2 {
          margin: 10px 15px 50px 15px;
          text-align: start;
          font-size: 18px;
          line-height: 34px;
     }

     .about-page-text-2-highlighted {
          font-size: 24px;
     }
     
}