#root {
     width: 100vw;
}

.contact-container {
}

.contact-info {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     margin: 80px;
}

.contact-info-container {
     display: flex;
     flex-direction: column;
     gap: 16px;
     justify-content: start;
     align-items: start;
     height: 60vh;
     width: 40vw;
     background-color: #F3F8FC;
     border-radius: 16px;    
     padding: 30px 0 0 30px;
}

.contact-info-container-text {
     display: flex;
     flex-direction: column;  
     font-weight: 400;
     font-size: 14px;
     line-height: 17px;
     gap: 8px;
     color: #000;
}

.contact-info-text {
     font-weight: 600;
     line-height: 19px;
     color: #000;
}

.contact-2gis-button {
     display: inline-block;
     padding: 10px 20px;
     background-color: #1A38A3;
     color: #FFFFFF;
     text-decoration: none;
     border-radius: 8px;
     font-weight: 500;
     font-size: 14px;
     transition: all 0.3s ease;
     font-family: 'Inter';
}

.contact-2gis-button:hover {
     background-color: #2251D8;
     transform: translateY(-2px);
     box-shadow: 0 4px 8px rgba(26, 56, 163, 0.3);
}

.map {
     height: 60vh;
     width: 45vw;
}

.map iframe {
     height: 100%;
     width: 100%;     
     border: 1px solid transparent;
     border-radius: 16px;
}

@media screen and (max-width: 768px) {
     .contact-info {
          flex-direction: column;
          gap: 20px;
          margin: 20px;
     }

     .contact-info-container {
          width: 80vw;
          gap: 20px;
          margin: 20px;
          padding: 10px;
          gap: 10px;
          height: 40vh;
     }

     .map {
          width: 80vw;
          height: 40vh;
     }

     .map iframe {
          height: 100%;
          width: 100%;     
          border: 1px solid transparent;
          border-radius: 16px;
     }
     
}