.partners-page-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.partners-section-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.partners-section-row {
  margin-bottom: 50px;
  width: 100%; /* Ensure Row takes full width */
}

.partners-section-col {
  padding: 10px; /* Gutter already handled by Row's gutter prop */
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-section-col img {
  width: 100%;
  max-width: 150px; /* Adjust if necessary */
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .partners-section-col img {
    width: 80%;
    max-width: none; /* Remove max-width on smaller screens */
    margin: 0 auto;
  }
}
