.stat-card {
  position: relative;
  width: 100vw;
  max-width: 376px;
  padding: 20px;
  padding-bottom: 70px;
  background-image: url(../../assets/images/box.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 307px; /* Ensures the container is tall enough */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}




.stat-card-title-1 {
  font-size: 60px;
  color: #50F5B0;
  font-weight: 700;
}

.stat-card-title-2 {
  font-size: 18px;
  color: #50F5B0;
  font-weight: 400;
}

.stat-description {
  font-size: 20px;
  color: #EFF1F9;
}

.stat-card:nth-child(2) {
  transform: translateY(-50px);
}

.stat-card.stat-card-about:nth-child(2) {
  transform: translateY(0);
}

@media screen and (max-width: 1100px) {
  .stat-card:nth-child(2) {
    transform: translateY(0);
  }

  .stat-description {
    font-size: 16px;
  }
}

@media screen and (max-width: 490px) {
  .stat-description {
    font-size: 16px;
  }
}
