.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* src/components/ServiceSection/ServiceSection.css */

.service-section {
  margin: 129px 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-header {
  text-align: center;
  margin-bottom: 20px;
  max-width: 90%;
}

.service-image {
  max-width: 254px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.service-title {
  color: #2251D8;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-subtitle {
  margin: 10px 0;
  color: #333333;
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 10px;
}

.service-points {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px 55px
}

.service-point {
  width: 360px;
  margin-bottom: 20px;
  border-top: 2px solid #50F5B0;
  padding-top: 10px;
  justify-self: flex-start;
}

.service-point-text {
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 200;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .service-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .service-point {
    width: 45%;
  }

}

@media screen and (max-width: 992px) {
  .service-section {
    margin: 80px 50px;
  }

  .service-header {
    max-width: 80%;
  }

  .service-points {
    /* justify-content: center; */
  }

  .service-point {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .service-section {
    margin: 40px 20px;
  }

  .service-header {
    max-width: 100%;
  }

  .service-title {
    font-size: 20px;
  }

  .service-subtitle {
    font-size: 14px;
  }

  .service-points {
    flex-direction: column;
    align-items: center;
  }

  .service-point {
    width: 100%;
    text-align: center;
    border-top: none;
    border-left: 4px solid #50F5B0;
    padding: 10px 0 10px 10px;
  }
}

@media screen and (max-width: 576px) {
  .service-title {
    font-size: 18px;
  }

  .service-subtitle {
    font-size: 13px;
  }

  .service-point-text {
    font-size: 13px;
  }
}
