.products-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
}

.products-additional-container {
     width: 100%;
     height: 80vh;
     background: 
       url(../../assets/images/productsbackround.png) no-repeat center / cover;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-bottom-left-radius: 45px;
     border-bottom-right-radius: 45px;  
}

.products-content-text {
     /* font-family: 'Inter', sans-serif;
     font-size: 18px;
     font-weight: 400;
     line-height: 23px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 26px;
     color: white; */

    font-weight: 300;
    font-size: 64px;
    line-height: 76px;
    color: white;
    margin-top: 70px;
}

.products-content-text-title {
     font-weight: 300;
     font-size: 64px;
     line-height: 76px;
}

.products-content-text-description {
     font-size: 18px;
     font-weight: 400;
     line-height: 23px;
     letter-spacing: -0.01em;
     text-align: left;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 20px;

}

.products-content-bullits {
     display: flex;
     color: white;
     font-size: 18px;
     justify-content: center;
     align-items: center;
     gap: 28px;
}

.products-content-bullits-item {
     display: flex;
     gap: 28px;
     justify-content: center;
     align-items: center;
}

@media (max-width: 992px) {
     .products-content-text-description {
          flex-direction: column;   
     }     
     .svg-icon {
          display: none;
     }

     .products-img img {
          height: 150px;
     }

     .products-content-text-title {
          font-size: 34px;
          line-height: 34px;
          letter-spacing: -0.01em;
          text-align: center;
     }

     .products-content-bullits {
          flex-direction: column;
          gap: 10px;
     }

     .products-content-bullits-item-image {
          display: none;
     }
}