.slide {
  position: relative;
  display: flex;
  height: 700px!important;
  margin-top: 8px;
  height: 400px;
  border-radius: 0 50px 0 0!important;
}

.image-container {
  order: 2;
  border-radius: 0 0px 50px 0!important;
}

.text-container {
  order: 1;
  position: relative;
  padding: 40px 60px 40px 68px;
  color: white;
  display: flex;
  border-radius: 50px 0px 0 0!important;
  flex-direction: column;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: 100%;
}


.slide-actions {
  margin-top: 90px;
  display: flex;
  gap: 16px;
}
.slideImage1 {
  background: url('/src/assets/images/slide1.jpeg')!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center!important;
}

.slideImage2 {
  background: url('/src/assets/images/slide2.jpeg')!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center!important;
}

.slideImage3 {
  background: url('/src/assets/images/slide3.jpeg')!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: center!important;
}

.slide1 {
  background: linear-gradient(42.42deg, #3FA0FF -1.69%, #00284F 72.34%);
}
.slide2 {
  background: linear-gradient(71.19deg, #1CD5A8 8.46%, #047257 79.13%);
}
.slide3 {
  background: linear-gradient(76.25deg, #44CBFD 6.73%, #016D96 81.53%);
}


.slick-dots {
  position: absolute;
  bottom: 0; /* Position at the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the dots */
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between dots */
}

@media (max-width: 768px) {
  .slide {
    height: auto!important;
  }
  .text-container {
    order: 2;
    padding: 24px 16px;
    border-radius: 0px 0px 24px 0px!important;
    height: 450px!important;
    width: 100%;
  }

  .image-container {
    border-radius: 24px 0px 0px 0px!important;
    height: 325px!important;
    width: 100%;
    order: 1;
  }

  .slide-actions {
    margin-top: 72px;
    margin-bottom: 36px;
    justify-content: space-between;
  }

  .slide p {
    margin-top: 8px;
  }

  .slider-buttons { bottom: 16px;}

  .downButton {
    display: none;
  }
}


.slider-buttons {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 8px;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-dots {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.slider-dots.active {
  width: 18px;
  height: 6px;
  border-radius: 60px;
}
.slider-buttons img {
  cursor: pointer;
}

.downButton a {
  position: absolute;
  right:20px;
  bottom: 15px;
}



/* Example of a custom fade-in effect */
.slick-slide {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.slick-active {
  opacity: 1;
}

.text-container h1, .text-container h2 {
  opacity: 1;
  transition: opacity .3s ease-in-out, transform 1s ease-in-out;
}

/* Animate text appearance when slide becomes active */
.slick-current .text-container h1, .slick-current .text-container h2{
  opacity: 1;
  transform: translateY(0); /* Move text to original position */
}